
  /* info_update_com 준범 css 양식 가져옴 */
  .sidebar {
    background-color: #FAFAFA;
    padding: 20px;
    border-radius: 20px;
    /* width: 230px; */
    height: 700px;
  
  }
  
  .sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar ul li a {
    color: #000;
    text-decoration: none;
    font-size: 15px;
  }
  
  
  .main-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .job-listings {
    background-color: #fff;
    padding: 0px;
    border-radius: 8px;
    width: 100%;
  }
  
  .job-listings h3 {
    margin: 0;
    padding: 0;
    font-size: 28px;
    margin-bottom: 10px;
  
  }
  
  
  
  .job-header {
    color: #fff;
    background-color: #005AAB;
    padding: 10px;
    margin-bottom: 35px;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    height: 130px;
    font-size: 28px;
  
  }
  
  .job-item-link {
    text-decoration: none;
    /* 링크의 밑줄 제거 */
    color: #1B1B1B;
    /* 링크 글씨 색상 설정 */
    display: block;
    /* 전체 영역 클릭 가능하게 블록 요소로 변경 */
  }
  
  .job-item-link * {
    color: inherit;
    /* 자식 요소가 부모 요소의 색상 상속 */
  }
  
  .job-item {
    background-color: #fff;
    padding: 15px 36px 15px 36px;
  
    margin: 20px 0 20px 0;
    border-radius: 20px;
    cursor: pointer;
    /* 커서를 포인터로 변경 */
    transition: background-color 0.5s ease;
  }
  
  .job-item:hover {
    background-color: #F7F9FC;
  
  
  }
  
  .a-wrapper > a {
    text-decoration: none;
    /* 링크의 밑줄 제거 */
    color: #fff;
    /* 링크 글씨 색상 설정 */
    display: block;
    /* 전체 영역 클릭 가능하게 블록 요소로 변경 */
  
    width: 300px;
    height: 90px;
    margin-bottom: 15px;
    border-radius: 20px;
  
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
    padding: 10px 20px; /* 버튼 패딩 설정 */
    text-decoration: none; /* 링크 밑줄 제거 */
  
  }
  
  .job-item:hover .keyword-span span {
    background-color: #fff;
  }
  
  .job-item a {
    color: #024FDF;
    text-decoration: none;
    float: right;
  }
  
  .job-item .d-flex {
    color: #FFFFFF;
    /* NEW 태그는 여전히 흰색 */
  }
  
  .job-item .d-flex span {
    color: #1B1B1B;
    /* NEW 태그의 글씨를 흰색으로 유지 */
  }

  
  
  
  
  
  main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .register-form {
    width: 100%;
    padding: 20px;
  }
  
  
  
  .register-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .register-form label {
    display: block;
    margin: 10px 0 5px;
  }
  
  .register-form input,
  .register-form select {
    width: calc(100% - 8px);
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    justify-content: center;
  }
  
  
  
  
  .birthdate select {
    width: calc(31%);
    margin-right: 5px;
  }
  
  .birthdate select:last-child {
    margin-right: 0;
  }
  
  .gender {
    display: flex;
    gap: 10px;
  }
  
  .gender-btn {
    display: flex;
    align-items: center;
  
  }
  
  .btn-male {
    width: 70px;
    height: 42px;
    /* input의 height와 padding을 고려하여 맞춤 */
    border-radius: 8px;
    background-color: var(--long-btn-color);
    /* 기본 색상 설정 */
    border: none;
    color: #fff;
    font-size: 16px;
    /* input과 같은 폰트 크기 */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 8px;
    vertical-align: middle;
  }
  
  .btn-female {
    width: 70px;
    height: 42px;
    /* input의 height와 padding을 고려하여 맞춤 */
    border-radius: 8px;
    background-color: #EDEDED;
    border: none;
    color: black;
    font-size: 16px;
    /* input과 같은 폰트 크기 */
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
  }
  
  
  .btn-duplicate {
    width: 70px;
    height: 42px;
    /* input의 height와 padding을 고려하여 맞춤 */
    border-radius: 8px;
    background-color: var(--short-btn-color, #007BFF);
    /* 기본 색상 설정 */
    border: none;
    color: #fff;
    font-size: 16px;
    /* input과 같은 폰트 크기 */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 8px;
    vertical-align: middle;
  }
  
  .btn-confirm {
    width: 70px;
    height: 42px;
    /* input의 height와 padding을 고려하여 맞춤 */
    border-radius: 8px;
    background-color: var(--short-btn-color, #007BFF);
    /* 기본 색상 설정 */
    border: none;
    color: #fff;
    font-size: 16px;
    /* input과 같은 폰트 크기 */
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
  
  }
  
  
  
  .check-,
  .verify-button,
  .submit-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 8px;
    background-color: #2065E8;
    color: #fff;
    cursor: pointer;
  }
  
  .check-button,
  .verify-button {
    width: auto;
  }
  
  .submit-button {
    width: 100%;
    margin-top: 20px;
  }





  .table-wrap {
    min-height: 500px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
}

th {
    text-align: center;
    width: auto;
    padding-bottom: 6px;
    border-bottom: 1px solid #ccc;
}

td {
  text-align: center;
  padding: 15px 0;
}

td a {
    display: inline-block;
}


.creditList-item:hover {
    background-color: #f4f4f4;
}

.aBtn {
    text-decoration: none;
    text-align: center;
    padding: 0 5px;
}