@charset "UTF-8";

/* success */
/* 아래 폼 양식 */
.payment-form1 {
  border-radius: 10px;
  box-shadow: 1px 2px 2px 3px lightgrey;
  padding: 20px;
  position: relative;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.payment-form1 .credit-form-btn {
  display: flex;
  column-gap: 30px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.payment-form1 p {
  font-size: 20px;
}

.credit-form-btn a {
    text-decoration: none;
    text-align: center;
    padding-top: 4px;
}

.credit-list-info1 li {
    font-size: 20px ;
}

.credit-list-info1 {
  padding-left: 0 ;
  list-style: disc;
}

.credit-form-btn>a {
}




.btn-agreed {
  background-color: #28a745;
  color: white;
}

.btn-not-agreed {
  background-color: #6c757d;
  color: white;
  cursor: not-allowed;
  pointer-events: none; /* 클릭 이벤트 비활성화 */
  opacity: 0.6; /* 투명도 변경을 통해 비활성화 상태 표시 */
}