<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/recruit_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>등록한 채용공고</title>
    <link rel="stylesheet" href="/css/pagination.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body layout:fragment="content">
    <div class="container-fluid container">
        <div style="display: flex; flex-direction: column; margin-left: 100px; margin-bottom: 50px; margin-top: 30px;">
            <strong style="font-size: 45px; margin-bottom: 15px;">채용공고 관리</strong>
            <strong style="font-size: 19px;">혁신과 열정을 바탕으로, 미래를 창조하는 기업.</strong>
        </div>

        <div class="row justify-content-center" style="padding: 0 40px 0 40px;">

            <nav class="col-12 col-sm-12 col-lg-3 sidebar">
                <div style="margin: 15px 0 45px 15px;">
                    <strong style="font-size: 24px;">
                        마이페이지
                    </strong>
                </div>
                <ul class="nav flex-column ul-header">
                    <li class="li-header">
                        <strong class="fs-5">기업 정보</strong>
                    </li>
                    <li class="nav-item">
                        <a href="/company/introduce_com" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px;" class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/home.png" alt="x">
                                </div>
                                <div>
                                    기업 소개
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/user/update_user" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px;" class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/Registration.png" alt="x">
                                </div>
                                <div>
                                    담당자 정보 수정
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/company/credit/credit_list_com" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px;" class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/CreditCard.png" alt="x">
                                </div>
                                <div>
                                    결제 내역
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="nav flex-column ul-header">
                    <li class="li-header">
                        <strong class="fs-5">채용공고 관리</strong>
                    </li>
                    <li class="nav-item">
                        <a href="/recruit/post_jobs_com" class="job-item-link nav-link fw-normal fs-6 token-end">
                            <div style="background-color: #fff; border-radius: 8px; "
                                class="d-flex justify-content-between">
                                <div class="d-flex gap-2 p-2 ps-2">
                                    <div>
                                        <img src="/img/list.png" alt="x">
                                    </div>
                                    <div>
                                        채용공고 등록
                                    </div>
                                </div>
                                <div class="d-flex gap-2 p-2 ">
                                    <div>
                                        <img src="/img/CreditScore.png" alt="x" style="width: 24px;">
                                    </div>
                                    <th:block th:if="${session.user.order} != null">
                                        <span th:text="${session.user.order.remainQuantity}"></span>
                                    </th:block>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/recruit/posted_jobs_com" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px; " class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/list.png" alt="x">
                                </div>
                                <div>
                                    등록한 채용공고
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="nav flex-column ul-header">
                    <li class="li-header">
                        <strong class="fs-5">이력서 관리</strong>
                    </li>
                    <li class="nav-item">
                        <a href="/recruit/recruit_list_com" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px; " class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/Documents.png" alt="x">
                                </div>
                                <div>
                                    제출된 이력서
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/company/score_com" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px; " class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/Documents.png" alt="x">
                                </div>
                                <div>
                                    AI 간편 평가
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>


            <main class="col-12 col-md-12 col-lg-8 main-content d-flex justify-content-end align-items-start">
                <div class="job-listings ">

                    <form action="" method="get" class="job-header">
                        <div style="padding: 15px;"><strong>등록한 채용공고</strong></div>
                        <!-- <div style="display: flex; justify-content: flex-end; align-items: flex-end; margin-right: 20px;"> -->
                        <div class="d-flex justify-content-end align-items-center me-3 mb-2">
                            <!-- <select name="filter" id="filter" class="form-control"> -->
                            <!-- <select name="filter" class="form-control w-auto mx-3"
                                style="color: #828282; padding: 3px 12px 3px 12px;">
                                <option value="1">최근 날짜</option>
                            </select> -->
                            <!-- <input class="form-control form_input" type="text" name="search_filter" id="search_filter"
                                placeholder="검색어를 입력해주세요">
                            <button class="d-flex justify-content-center align-items-center btn-in-short fw-bold">
                                찾기
                            </button> -->
                        </div>
                    </form>

                    <th:block th:if="${recruitPosts.isEmpty()}">
                        <div style="min-height: 300px; text-align: center;">
                            <h5 style="line-height: 300px;">채용공고를 등록해주세요</h5>
                        </div>
                    </th:block>

                    <div>
                        <th:block th:each="recruit : ${recruitPosts}">

                            <a th:href="|/recruit/post_jobs_read_com?recruitNo=${recruit.recruitNo}|"
                                class="job-item-link" th:id="'recruit_' + ${recruit.recruitNo}">
                                <input type="hidden" name="recruitNo" id="recruitNo" th:value="${recruit.recruitNo}">
                                <div class="job-item d-flex flex-column">
                                    <div style="width: 38px; height: 15px;">
                                        <!-- new 자리 -->
                                    </div>
                                    <div style="font-size: 12px;">
                                        <span th:text="${recruit.company.comName}"></span>
                                        <span>|</span>
                                        <span>기간 : </span><span th:text="${recruit.recruitRegDate}"></span>
                                    </div>
                                    <div style="font-size: 17px; margin-bottom: 15px; font-weight: bold;"
                                        th:text="${recruit.recruitTitle}">

                                    </div>
                                    <div class="item d-flex justify-content-between">
                                        <div class="keyword-span">
                                            <th:block th:each="keyword : ${recruit.keywordList}">
                                                <span th:text="${keyword.recruitKeyword}">

                                                </span>
                                            </th:block>
                                        </div>


                                        <div class="gap-2 d-flex">
                                            <div>
                                                <button type="button" class="btn-short" id="btn-stop"
                                                    th:onclick="'deleteRecruit(' + ${recruit.recruitNo} + ', event)'">
                                                    <strong>삭제</strong>
                                                </button>
                                            </div>


                                            <div class="d-flex justify-content-center m-1">
                                                <strong style="color: #024FDF;">FINDER</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </th:block>
                    </div>

                    <!-- 페이지네이션 -->
                    <div class="pagination-container justify-content-center d-flex mt-4">
                        <div class="pagination d-flex">

                            <!-- [ 처음 ] -->
                            <a class="page-item page-first" th:href="|/recruit/posted_jobs_com?page=${page.first}|"><i
                                    class="fa-solid fa-angles-left"></i></a>

                            <!-- [ 이전 ] -->
                            <th:block th:if="${page.page != page.first}">
                                <a class="page-item" th:href="|/recruit/posted_jobs_com?page=${page.prev}|"><i
                                        class="fa-solid fa-angle-left"></i></a>
                            </th:block>

                            <!-- 페이지 번호 -->
                            <!-- 
                                #numbers.sequence(시작번호, 끝번호) 
                                : 시작번호부터 끝번호까지 번호 리스트를 생성
                            -->
                            <th:block th:each="no : ${#numbers.sequence(page.start, page.end)}">
                                <!-- 현재 페이지 -->
                                <th:block th:if="${page.page == no}">
                                    <b>
                                        <span th:text="${no}"></span>
                                    </b>
                                </th:block>
                                <th:block th:if="${page.page != no}">
                                    <a th:href="|/recruit/posted_jobs_com?page=${no}|" th:text="${no}"></a>
                                </th:block>
                            </th:block>

                            <!-- [ 다음 ] -->
                            <th:block th:if="${page.page != page.last}">
                                <a class="page-item" th:href="|/recruit/posted_jobs_com?page=${page.next}|"><i
                                        class="fa-solid fa-angle-right"></i></a>
                            </th:block>

                            <!-- [ 마지막 ] -->
                            <a class="page-item page-end" th:href="|/recruit/posted_jobs_com?page=${page.last}|"><i
                                    class="fa-solid fa-angles-right"></i></a>

                        </div>
                    </div>





                </div>
            </main>
        </div>

    </div>

    <script>


        function deleteRecruit(recruitNo, event) {


            // let data = {"userId"   : userId}
            event.stopPropagation(); // 이벤트 전파 중지
            event.preventDefault(); // 기본 동작 방지

            let request = new XMLHttpRequest()
            // let csrfToken = $('#csrfToken').val();
            var csrfToken = "[[${_csrf.token}]]"

            request.open("POST", `/recruit/posted_jobs_com/${recruitNo}`, true)
            request.setRequestHeader("Content-Type", "application/json")
            request.setRequestHeader("X-CSRF-TOKEN", csrfToken) // 💍       // 이래야 403 이 안뜬다.
            // request.send( JSON.stringify( data ) )
            request.send()

            request.onreadystatechange = function () {
                // 요청 성공 시,
                if (request.readyState == request.DONE && request.status == 200) {
                    // 파일 항목을 화면에서 제거
                    if (request.responseText == 'true') {
                        alert('삭제 되었습니다.');
                        // 성공적으로 삭제된 채용공고를 화면에서 숨김
                        var deletedRecruit = document.getElementById('recruit_' + recruitNo);
                        if (deletedRecruit) {
                            deletedRecruit.style.display = 'none';
                        }
                    }
                    else {
                        alert('삭제가 불가능합니다!');
                    }
                }
            }
        }



    </script>
</body>

</html>