h4{
    text-align: center;
}

.comSize{
    border: none;
    text-align: center;
}

.ComSalary2{
    border: none; 
    text-align: center;
}

.Comyear1{
    border: none;
    text-align: center;
}

.ComSales2{
    border: none;
    text-align: center;
}
