
.myFormUpdate {
    width: 100%;
    border-radius: 12px;
    background-color: #FAFAFA;
}

.pw-confirm-btn {
    margin-right: 10px;
    background-color:  var(--long-btn-color);
}

.UpdatePassword {
    display: none !important;
}

.pw-update-btn {
    margin-right: 10px;
    background-color:  var(--long-btn-color);
}

.info-update-btn {
    margin-right: 10px;
    background-color: var(--long-btn-color) ;
}


/* ------------------------------------------------------------------------------------------------------------- */
        /* 이 친구들이 버튼 변경하게 하는 코드입니다.*/
        .btn-male-update,
        .btn-female-update {
            padding: 10px 10px;
            margin: 5px;
            color: black;
            background-color: #EDEDED;
            cursor: pointer;
        }

        .btn-male-update.selected,
        .btn-female-update.selected {
            background-color: #007bff;
            color: white;
        }

.userid-update {
    display: inline-block;
    background-color: #E9E9E9;
    border-radius: 20px;
    margin-right: 100px;
    padding: 2px 12px;
    color: black;
    width: 70px;
    height: 27px;
    font-size: 15px;
    margin-top: 20px;
    font-weight: bold;
}

.username-update,
.usergender-update,
.userbirth-update,
.userphone-update,
.useremail-update {
    display: inline-block;
    background-color: #E9E9E9;
    border-radius: 20px;
    margin-right: 100px;
    padding: 2px 12px;
    color: black;
    height: 27px;
    font-size: 15px;
    margin-top: 15px;
    font-weight: bold;
}

.userpw-update {
    display: inline-block;
    background-color: #E9E9E9;
    border-radius: 20px;
    margin-right: 100px;
    padding: 2px 12px;
    color: black;
    height: 27px;
    font-size: 15px;
    font-weight: bold;
}

.useremail-update {
    display: inline-block;
    background-color: #E9E9E9;
    border-radius: 20px;
    margin-right: 100px;
    padding: 2px 12px;
    color: black;
    height: 27px;
    font-size: 15px;
    margin-top: 10px;
}

.phone-update {
    gap: 10px;
}

.register-form-update-update {
    width: 100%;
    max-width: 570px;
    padding: 20px;
}


.register-form-update h2 {
    text-align: center;
    margin-bottom: 20px;
}

.register-form-update label {
    display: block;
    margin: 10px 0 5px;
}

.register-form-update input,
.register-form-update select {
    width: calc(100% - 8px);
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    justify-content: center;
}


.btn-male-update {
    width: 70px;
    height: 42px;
    /* input의 height와 padding을 고려하여 맞춤 */
    border-radius: 8px;
    background-color: var(#007BFF);
    /* 기본 색상 설정 */
    border: none;
    color: #fff;
    font-size: 16px;
    /* input과 같은 폰트 크기 */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 8px;
    vertical-align: middle;
}

.btn-female-update {
    width: 70px;
    height: 42px;
    /* input의 height와 padding을 고려하여 맞춤 */
    border-radius: 8px;
    background-color: #EDEDED;
    border: none;
    color: black;
    font-size: 16px;
    /* input과 같은 폰트 크기 */
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}

.btn-male-update,
.btn-female-update {
    padding: 10px 10px;
    color: black;
    background-color: #EDEDED;
    cursor: pointer;
}

.btn-male-update.selected,
.btn-female-update.selected {
    background-color: #007bff;
    color: white;
}


.birthdate-update select {
    width: calc(31%);
    margin-right: 5px;
}

.birthdate-update select:last-child {
    margin-right: 0;
}

.gender-update {
    display: flex;
    gap: 10px;
}

.gender-btn-update {
    display: flex;
    align-items: center;

}

.btn-male-update {
    width: 70px;
    height: 42px;
    /* input의 height와 padding을 고려하여 맞춤 */
    border-radius: 8px;
    background-color: var(--short-btn-color, #007BFF);
    /* 기본 색상 설정 */
    border: none;
    color: #fff;
    font-size: 16px;
    /* input과 같은 폰트 크기 */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 8px;
    vertical-align: middle;
}

.btn-female-update {
    width: 70px;
    height: 42px;
    /* input의 height와 padding을 고려하여 맞춤 */
    border-radius: 8px;
    background-color: #EDEDED;
    border: none;
    color: black;
    font-size: 16px;
    /* input과 같은 폰트 크기 */
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}