<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layout/recruit_layout}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FINDER 메인 페이지</title>
</head>

<body layout:fragment="content">
  <th:block>
    <input type="hidden" name="recruit-page-row" id="recruit-page-row" th:value="${page.rows}">
    <input type="hidden" name="recruit-page-row" id="recruit-page" th:value="${page.page}">
  </th:block>

  <div class="container main-content">
    <div class="col-1 w-100 d-flex job-index-header" style="padding: 0 35px 0 35px;">
      <div class="w-25">
        <span style="padding: 15px; font-size: 1.6em;" class="job-index-header-title">채용공고</span>
      </div>

      <form action="/index" method="get" class="w-75 d-flex align-items-center justify-content-end">
        <div class="d-flex align-items-center w-75 mb-3 mt-3 position-relative flex-column">
          <div class="d-flex align-items-center w-75 mb-3 mt-3 box">
            <div class="custom-form-floating">
              <input type="text" id="customDropdownMenuInput" class="custom-input" placeholder="기업, 채용공고를 검색해보세요."
                name="keyword" th:value="${param.keyword}" autocomplete="off">
            </div>

            <div class="form-floating w-25" style="height: 40px; margin-left: 1px;">
              <select name="code" class="form-select" id="floatingSelectGrid"
                style="box-shadow: none; --bs-border-width: -8px; padding: 5px 5px 5px 5px; border-top-right-radius: 8px; border-bottom-right-radius: 8px; border-top-left-radius: 0px; border-bottom-left-radius: 0px;">
                <option th:each="item : ${optionList}" th:value="${item.code}" th:selected="${item.code == option.code}"
                  th:text="${item.keyword}"></option>
              </select>
            </div>
          </div>

          <div class="custom-dropdown-menu" id="customDropdownMenu"></div>
        </div>
      </form>
    </div>

    <div style="margin: 15px 0 15px 0;">
      <strong>총 <span style="color: blue;" th:text="${count}"></span>개의 정보를 탐색 하였습니다.</strong>
    </div>
    <hr style="margin-bottom: 65px;">

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4" id="recruit-list">


      <!-- <th:block th:each="recruit : ${recruitList}">
        <div class="col" th:attr="data-recruit-id=${recruit.recruitNo}">
          <div class="card" style="border-radius: 20px !important; box-shadow: -4px 8px 20px rgba(0, 0, 0, 0.1);">
            <div class="card-body d-flex flex-column justify-content-between">
              <div>
                <div class="card-title">
                  <img th:src="|/file/img/${recruit.fileNo}|" alt="썸네일" style=" width: 75px;">
                </div>
                <input type="hidden" name="recruitNo" th:value="${recruit.recruitNo}">
                <p class="card-text" style=" font-size: 12px;" th:text="${recruit.company.comName}"></p>
              </div>
              <strong th:text="${recruit.recruitTitle}"></strong>
              <div class="keyword-span">
                <th:block th:if="${recruit.keywordList.isEmpty()}">
                  <p>키워드가 존재하지 않습니다.</p>
                </th:block>

                <th:block th:each="keyword : ${recruit.keywordList}" class="span-wrapper">
                  <span th:text="${keyword.recruitKeyword}"></span>
                </th:block>
              </div>
              <div class="d-flex justify-content-between ">
                <div th:text="${recruit.recruitRegDate}"></div>
                <div>
                  <button class="btn-short">
                    <a th:href="|/recruit/detail_jobs_user?recruitNo=${recruit.recruitNo}|"
                      style="text-decoration-line: none; color: white;">조회</a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </th:block> -->



    </div>
  </div>

  <script th:inline="javascript">
    let currentPage = 1;
    let rowsPerPage = 12;
    document.addEventListener('DOMContentLoaded', function () {



      const input = document.getElementById('customDropdownMenuInput');
      const dropdown = document.getElementById('customDropdownMenu');

      const loadedRecruitIds = new Set();
      const recruitListContainer = document.getElementById('recruit-list');
      recruitListContainer.querySelectorAll('[data-recruit-id]').forEach(el => {
        loadedRecruitIds.add(el.getAttribute('data-recruit-id'));
      });

      // alert(Array.from(loadedRecruitIds).join(', '));


      input.addEventListener('input', function () {
        const query = input.value.toLowerCase();
        dropdown.innerHTML = '';
        if (query) {
          fetch(`/search?query=${encodeURIComponent(query)}`)
            .then(response => response.text())
            .then(html => {
              console.log(html);
              dropdown.innerHTML = html
              dropdown.classList.add('show');
              initKeywordEvent()
            })
            .catch(error => {
              console.error('Error fetching data:', error);
            });
        } else {
          dropdown.classList.remove('show');
        }
      });

      document.addEventListener('click', function (e) {
        if (!input.contains(e.target) && !dropdown.contains(e.target)) {
          dropdown.classList.remove('show');
        }
      });

      dropdown.addEventListener('mousedown', function (e) {
        e.preventDefault();
      });

      // let currentPage = 1;
      // const rowsPerPage = 12;
      // let option = /*[[${option.code}]]*/ '0';  // 기본값 설정
      // let keyword = /*[[${option.keyword}]]*/ '';  // 기본값 설정

      function cardList() {

        const keywordElement = document.getElementById('customDropdownMenuInput');
        const optionElement = document.getElementById('floatingSelectGrid');
        // const rowsPerPageRowElement = document.getElementById('recruit-page-row');
        // const rowsPerPageElement = document.getElementById('recruit-page');

        if (!keywordElement || !optionElement) {
          console.error('HTML elements not found');
          return;
        }

        let keyword = keywordElement.value;
        let option = optionElement.value;
        // let rowsPerPage = rowsPerPageRowElement.value;
        // let currentPage = rowsPerPageElement.value;

        console.log('Keyword:', keyword); // 디버깅을 위해 콘솔에 출력
        console.log('Option:', option); // 디버깅을 위해 콘솔에 출력
        console.log('pageRow:', rowsPerPage); // 디버깅을 위해 콘솔에 출력
        console.log('page:', currentPage); // 디버깅을 위해 콘솔에 출력

        fetch(`/cardList?page=${currentPage}&rows=${rowsPerPage}&code=${option}&keyword=${keyword}`)
          .then(response => response.text())
          .then(data => {
            // console.log(data)
            if (data.trim() === "") {
              window.removeEventListener('scroll', handleScroll);
              return;
            }
            getData(data);
            currentPage++; // 페이지 번호 증가
          })
      }

      function getData(data) {
        // console.log(data);
        recruitListContainer.innerHTML += data
      }

      // function loadMoreRecruits() {
      //   fetch(`/indexList?page=${currentPage}&rows=${rowsPerPage}&option=${option}&keyword=${keyword}`)
      //     .then(response => response.json())
      //     .then(data => {
      //       if (data.length > 0) {
      //         data.forEach(recruit => {
      //           // 중복된 recruit가 있는지 확인
      //           if (loadedRecruitIds.has(recruit.recruitNo)) {
      //             // alert(recruit.recruitNo);
      //             return; // 이미 로드된 recruit면 추가하지 않음
      //           }

      //           const recruitItem = document.createElement('div');
      //           recruitItem.className = 'col recruit-item';
      //           recruitItem.setAttribute('data-recruit-id', recruit.recruitNo);
      //           recruitItem.innerHTML = `
      //       <div class="card" style="border-radius: 20px !important; box-shadow: -4px 8px 20px rgba(0, 0, 0, 0.1);">
      //         <div class="card-body d-flex flex-column justify-content-between">
      //           <div>
      //             <div class="card-title">
      //               <img src="/file/img/${recruit.fileNo}" alt="썸네일" style="width: 75px;">
      //             </div>
      //             <input type="hidden" name="recruitNo" value="${recruit.recruitNo}">
      //             <p class="card-text" style="font-size: 12px;">${recruit.company.comName}</p>
      //           </div>
      //           <strong>${recruit.recruitTitle}</strong>
      //           <div class="keyword-span">
      //             ${recruit.keywordList && recruit.keywordList.length > 0 ? recruit.keywordList.map(keyword => `<span>${keyword.recruitKeyword}</span>`).join('') : '<p>키워드가 존재하지 않습니다.</p>'}
      //           </div>
      //           <div class="d-flex justify-content-between">
      //             <div>${recruit.recruitRegDate}</div>
      //             <div>
      //               <button class="btn-short">
      //                 <a href="/recruit/detail_jobs_user?recruitNo=${recruit.recruitNo}" style="text-decoration-line: none; color: white;">조회</a>
      //               </button>
      //             </div>
      //           </div>
      //         </div>
      //       </div>
      //     `;
      //         recruitListContainer.appendChild(recruitItem);
      //         // recruitListContainer.innerHTML(recruitItem)
      //         loadedRecruitIds.add(recruit.recruitNo);
      //         });
      //         currentPage++;
      //       } else {
      //         window.removeEventListener('scroll', handleScroll);
      //       }
      //     })
      //     .catch(error => {
      //       console.error('Error loading more recruits:', error);
      //     });
      // }

      function handleScroll() {
        if (window.innerHeight + window.scrollY >= document.body.offsetHeight - 15) {
          // loadMoreRecruits();
          cardList();
        }
      }

      window.addEventListener('scroll', handleScroll);
      // loadMoreRecruits();
      cardList()

      function initKeywordEvent() {
        $("[class*='custom-dropdown-item-']").on("mouseover", function () {
          var comNo = $(this).data("id");
          // console.dir(comNo);
          var recruitListItem = $(".recruit-list-item[data-id='" + comNo + "']");
          // console.log(recruitListItem);
          // 이미 비동기로 데이터를 받아온 경우 다시 요청하지 않음
          if (recruitListItem.children().length === 0) {
            // 서버에 비동기 요청을 보냄
            fetch(`/keyword?comNo=${encodeURIComponent(comNo)}`)
              .then(response => response.text())
              .then(html => {
                recruitListItem.html(html); // 응답 내용을 recruit-list-item에 삽입
                console.log(html);
                // recruitListItem.classList.add('show');

                // recruitListItem.removeClass("d-none"); // 목록 표시
              })
              .catch(error => {
                console.error('Error fetching data:', error); // 에러 처리
              });
          } else {
            recruitListItem.removeClass("d-none"); // 이미 데이터가 있으면 바로 표시
          }
        });

        $("[class*='custom-dropdown-item-']").on("mouseout", function () {
          var comNo = $(this).data("id");
          $(".recruit-list-item[data-id='" + comNo + "']").addClass("d-none");
        });

      }
      initKeywordEvent();
    });


  </script>

</body>

</html>