.sidebar {
    background-color: #FAFAFA;
    padding: 20px;
    border-radius: 20px;
    width: 230px;
    height: 700px;

}

.sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #000;
    text-decoration: none;
    font-size: 15px;
}
.ul-header {
    margin-bottom: 30px !important;
}

.nav-link {
    padding: 3% !important;
}

.nav-item {
    height: 40px;
}
.nav-item >a {
    width: 100%;
}

.nav-item>div> {
    display: flex;

}

.nav-item>div>div {
    /* padding: 5px; */
}

.nav-item>div>div>img {
    width: 24px;
    height: 24px;
}

.job-item-link {
    text-decoration: none;
    /* 링크의 밑줄 제거 */
    color: #1B1B1B;
    /* 링크 글씨 색상 설정 */
    display: block;
    /* 전체 영역 클릭 가능하게 블록 요소로 변경 */
}

.job-item-link * {
    color: inherit;
    /* 자식 요소가 부모 요소의 색상 상속 */
}

.li-header {
    margin: 0 0 5px 15px;
}