.login-btn {
    height: 50px;
    background-color: var(--sub-color);
    transition: ease-out 0.3s;
}

.login-btn:hover {
    background-color: var(--main-color);
}

.joinUser{
    text-decoration: none;
    color: black;
}

.findUser{
    color: black;
}

.with{
    text-align: center;
}

.social-login {
    width: 120px;
    height: 50px;
    padding: 4px 2px;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-size: var(--text-normal);
}


.kakao {
    background-color: #ffea28;
    color: #2c2102;
    font-weight: bolder;
    transition: ease-out 0.3s;
    width: 100%;
    border-radius: 12px;
}

.naver {
    background-color: #32d623;
    color: #fff;
    font-weight: bolder;
    transition: ease-out 0.3s;
}

.google:hover {
    background-color: var(--main-color);
    color: #ececeb;
}

/* .kakao:hover {
    background-color: #2c2102;
    color: #ffea28;
} */

.naver:hover {
    background-color: #284923;
    color: #32d623;
}

/* 일반회원 / 기업회원 전환할때 색깔 바꿔줌 */
.login-user {
    background-color: var(--sub-color);
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-size: var(--text-normal);
}

.login-com {
    background-color: #fff;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: none;
    color: var(--sub-color);
    font-size: var(--text-normal);
}



.userid {
    display: inline-block;
    background-color: #E9E9E9;
    border-radius: 20px;
    margin-right: 100px;
    padding: 2px 12px;
    color: black;
    width: 70px;
    height: 27px;
    font-size: 15px;
    margin-top: 20px;
    font-weight: bold;
}

.username,
.usergender,
.userbirth,
.userphone,
.useremail {
    display: inline-block;
    background-color: #E9E9E9;
    border-radius: 20px;
    margin-right: 100px;
    padding: 2px 12px;
    color: black;
    height: 27px;
    font-size: 15px;
    margin-top: 15px;
    font-weight: bold;
}

.userpw {
    display: inline-block;
    background-color: #E9E9E9;
    border-radius: 20px;
    margin-right: 100px;
    padding: 2px 12px;
    color: black;
    height: 27px;
    font-size: 15px;
    font-weight: bold;
}

.useremail {
    display: inline-block;
    background-color: #E9E9E9;
    border-radius: 20px;
    margin-right: 100px;
    padding: 2px 12px;
    color: black;
    height: 27px;
    font-size: 15px;
    margin-top: 10px;
}

.register-form-login {
    width: 100%;
    max-width: 570px;
    padding: 20px;
}

.register-form-login h2 {
    text-align: center;
    margin-bottom: 20px;
}

.register-form-login label {
    display: block;
    margin: 10px 0 5px;
}

.register-form-login input,
.register-form-login select {
    width: calc(100% - 8px);
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    justify-content: center;
}




.birthdate select {
    width: calc(31%);
    margin-right: 5px;
}

.birthdate select:last-child {
    margin-right: 0;
}

.gender {
    display: flex;
    gap: 10px;
}

.gender-btn {
    display: flex;
    align-items: center;

}

.btn-male {
    width: 70px;
    height: 42px;
    /* input의 height와 padding을 고려하여 맞춤 */
    border-radius: 8px;
    background-color: var(--short-btn-color, #007BFF);
    /* 기본 색상 설정 */
    border: none;
    color: #fff;
    font-size: 16px;
    /* input과 같은 폰트 크기 */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 8px;
    vertical-align: middle;
}

.btn-female {
    width: 70px;
    height: 42px;
    /* input의 height와 padding을 고려하여 맞춤 */
    border-radius: 8px;
    background-color: #EDEDED;
    border: none;
    color: black;
    font-size: 16px;
    /* input과 같은 폰트 크기 */
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}


.btn-duplicate {
    width: 70px;
    height: 42px;
    /* input의 height와 padding을 고려하여 맞춤 */
    border-radius: 8px;
    background-color: var(--short-btn-color, #007BFF);
    /* 기본 색상 설정 */
    border: none;
    color: #fff;
    font-size: 16px;
    /* input과 같은 폰트 크기 */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 8px;
    vertical-align: middle;
}

.btn-confirm {
    width: 70px;
    height: 42px;
    /* input의 height와 padding을 고려하여 맞춤 */
    border-radius: 8px;
    background-color: var(--short-btn-color, #007BFF);
    /* 기본 색상 설정 */
    border: none;
    color: #fff;
    font-size: 16px;
    /* input과 같은 폰트 크기 */
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;

}


.btn-search {
    width: 70px;
    height: 42px;
    /* input의 height와 padding을 고려하여 맞춤 */
    border-radius: 8px;
    background-color: #283C75;
    border: none;
    color: #fff;
    font-size: 16px;
    /* input과 같은 폰트 크기 */
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;

}