<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/user_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .btn-male,
        .btn-female {
            padding: 10px 10px;
            color: black;
            background-color: #EDEDED;
            cursor: pointer;
        }

        .btn-male.selected,
        .btn-female.selected {
            background-color: #007bff;
            color: white;
        }
    </style>
    <title>회원 페이지</title>
</head>

<body layout:fragment="content">
    <div class="wrap d-flex flex-column container-fluid container">
        <div class="main-content">
            <main>
                <form class="register-form" method="post" action="/user/join_user" onsubmit="return validateForm()">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100" fill="currentColor"
                        class="bi bi-person-check" viewBox="0 0 16 16">
                        <path
                            d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                        <path
                            d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
                    </svg>

                    <h2 style="color:#787979; border-bottom:1px solid lightgrey; padding-bottom: 10px;">회원정보를 입력해주세요
                    </h2>

                    <div for="username" class="userid">아이디</div>

                    <div id="id">
                        <div class="check-btn">
                            <input type="text" class="username_input" name="userId" id="userId"
                                placeholder="4~20자리/영문,숫자,특수문자 '_'사용가능" required onchange="validateId(this)" />

                            <button type="button" class="btn-male" id="" onclick="checkId()"
                                style="background-color: #007bff; color: white; margin-left: 15px;">중복</button>

                            <img id="id_check_sucess" style="display: none;">
                        </div>
                    </div>
                    <br>

                    <div for="password" class="userpw" style="width: 84px; text-align: center;">비밀번호</div>

                    <!-- 비밀번호 입력 필드 -->
                    <input type="password" id="password" name="userPw" placeholder="8~16자리/영문 대소문자,숫자,특수문자 조합" required
                        onchange="validatePasswordConfirmation()">

                    <!-- 비밀번호 확인 입력 필드 -->
                    <input type="password" id="confirm-password" name="pw_confirm" required placeholder="비밀번호 확인"
                        onchange="validatePasswordConfirmation()">


                    <br>
                    <div for="phone" class="userphone">휴대폰</div>

                    <div class="phone">
                        <input type="text" id="phone" name="userPhone" required placeholder="번호를 입력해주세요."
                            onchange="validatePhone(this)">
                    </div>

                    <div for="name" class="username" style="width: 55px; text-align: center;">
                        이름
                    </div>

                    <div class="gender">
                        <input class="input-name" type="text" id="name" name="userName" required placeholder="이름">
                        <div class="gender-btn">

                            <input type="hidden" id="userGender" name="userGender">
                            <button type="button" class="btn-male" id="male" name="userGender"
                                onclick="change_btn(event)" value="남자">남</button>
                            <button type="button" class="btn-female" id="female" name="userGender"
                                onclick="change_btn(event)" value="여자">여</button>
                        </div>
                    </div>

                    <div for="birthdate" class="userbirth" style="width: 84px; text-align: center;">생년월일</div>

                    <!-- 달력 코드 -->
                    <div class="birthdate">

                        <input type="date" id="startDate" name="userBirth" class="keyword-main">

                    </div>

                    <br>

                    <div for="email" class="useremail">
                        이메일
                    </div>
                    <div class="phone">
                        <div class="d-flex justify-content">
                            <!-- 이메일 입력 태그-->
                            <input type="text" required placeholder="이메일" name="firstEmail" id="firstEmail"
                                style="height:45.6px;">

                            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="72" fill="currentColor"
                                class="bi bi-at" viewBox="0 0 16 16" style="height:64.6px;">
                                <path
                                    d="M13.106 7.222c0-2.967-2.249-5.032-5.482-5.032-3.35 0-5.646 2.318-5.646 5.702 0 3.493 2.235 5.708 5.762 5.708.862 0 1.689-.123 2.304-.335v-.862c-.43.199-1.354.328-2.29.328-2.926 0-4.813-1.88-4.813-4.798 0-2.844 1.921-4.881 4.594-4.881 2.735 0 4.608 1.688 4.608 4.156 0 1.682-.554 2.769-1.416 2.769-.492 0-.772-.28-.772-.76V5.206H8.923v.834h-.11c-.266-.595-.881-.964-1.6-.964-1.4 0-2.378 1.162-2.378 2.823 0 1.737.957 2.906 2.379 2.906.8 0 1.415-.39 1.709-1.087h.11c.081.67.703 1.148 1.503 1.148 1.572 0 2.57-1.415 2.57-3.643zm-7.177.704c0-1.197.54-1.907 1.456-1.907.93 0 1.524.738 1.524 1.907S8.308 9.84 7.371 9.84c-.895 0-1.442-.725-1.442-1.914" />
                            </svg>
                            <select class="form-control" name="lastEmail" id="lastEmail" style="height:45.6px;">
                                <option value="gmail.com">gmail.com</option>
                                <option value="naver.com">naver.com</option>
                                <option value="daum.net">daum.net</option>
                            </select>
                            <input type="hidden" id="userEmail" name="userEmail">

                            <div class="justify-content-end">
                                <button type="button" class="btn-male"
                                    style="background-color: #007bff; color: white; margin-left:10px;"
                                    onclick="combineEmail()">인증</button>
                            </div>
                        </div>

                        <div id="passwordChange" class="d-flex flex-column" style="display: none !important;">
                            <div class="check-btn">
                                <input type="text" class="username_input" name="emailCode" id="emailCode"
                                    placeholder="이메일 인증코드를 입력해주세요" />
                                <button type="button" class="btn-male"
                                    style="background-color: #007bff; color: white; margin-left: 15px;"
                                    onclick="email_Code()">확인</button>
                            </div>
                        </div>
                        <div class="d-grid gap-2" id="joinbutton" style="display: none !important;">
                            <button class="btn mt-4" type="submit"
                                style="background-color: var(--main-color); color: #fff; ">회원가입</button>
                        </div>
                </form>
            </main>
        </div>
    </div>

    <script>
        // ✅ 사용자가 입력안 코드를 db에 검사하는 함수
        function email_Code() {
            var verificationCode = document.getElementById('emailCode').value;

            var csrfToken = "[[${_csrf.token}]]";
            let url = "/user/email_code_check";

            $.ajax({
                type: 'POST',
                url: url,
                data: JSON.stringify({
                    verificationCode: verificationCode
                }), // 데이터를 JSON 문자열로 변환하여 전송
                contentType: 'application/json; charset=UTF-8', // 전송 데이터 타입을 JSON으로 설정
                dataType: 'text', // 응답 데이터 타입을 텍스트로 지정
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRF-TOKEN', csrfToken);
                },
                // 요청 성공 
                success: function (response, status) {
                    // response : 응답 데이터
                    // status   : 응답 상태

                    if (response === "성공") {
                        alert('코드인증에 성공하였습니다.');
                        $('#joinbutton').css('display', 'flex');
                    } else {
                        alert('코드인증에 실패하였습니다.');
                    }
                },
                // 에러
                error: function (xhr, status) {
                    // xhr      : XMLHttpRequest 객체
                    // status   : 응답 상태
                    alert('서버에러');
                }
            });
        }

        // ✅ 이메일 통합 하고 이메일에 코드를 보내는 함수 
        function combineEmail() {
            var firstEmail = document.getElementById('firstEmail').value;
            var lastEmail = document.getElementById('lastEmail').value;
            var email = firstEmail + "@" + lastEmail;
            document.getElementById('userEmail').value = email;
            alert('이메일 확인중..');

            var csrfToken = "[[${_csrf.token}]]";
            let url = "/user/find_users";

            $.ajax({
                type: 'POST',
                url: url,
                data: email, // 이메일 주소를 문자열로 전송
                contentType: 'text/plain', // 데이터의 타입을 명시
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRF-TOKEN', csrfToken);
                },
                // 요청 성공 
                success: function (response, status) {
                    // response : 응답 데이터
                    // status   : 응답 상태
                    if (response === "1") {
                        alert('이메일에서 인증코드를 확인해주세요.');
                        $('#passwordChange').css('display', 'flex');
                    } else {
                        alert('에러~!~!@~!@~!#!~#~!@~!@~!@~@!~@~@~!@');
                    }
                },
                // 에러
                error: function (xhr, status) {
                    // xhr      : XMLHttpRequest 객체
                    // status   : 응답 상태
                    alert('서버에러');
                }
            });
        }
        // 💍 CRSF TOKEN
        var csrfToken = "[[${_csrf.token}]]"

        // ✅ 버튼 클릭시 유지하는 js 코드
        function change_btn(event) {
            var buttons = document.querySelectorAll('.gender-btn button');
            buttons.forEach(function (button) {
                button.classList.remove('selected');
            });

            var clickedButton = event.target;
            clickedButton.classList.add('selected');

            var gender = clickedButton.value;
            document.getElementById('userGender').value = gender;
        }

        // ✅ 아이디 유효성 검사
        function validateId(input) {
            var id = input.value;
            // 4~20자리
            // 영문, 숫자, 특수문자 '_'만 사용 가능
            if (!/^[a-zA-Z0-9_]{4,20}$/.test(id)) {
                input.setCustomValidity("아이디는 4~20자리로 영문, 숫자, 특수문자 '_'만 사용 가능합니다.");
            } else {
                input.setCustomValidity("");
            }

            // 유효성 검사 메시지 표시
            input.reportValidity();
        }

        // ✅ 비밀번호 유효성검사
        function validatePasswordConfirmation() {
            var password = document.getElementsByName("userPw")[0].value;
            var confirmPassword = document.getElementsByName("pw_confirm")[0].value;

            // 비밀번호가 8~16자리이고 영문 대소문자, 숫자, 특수문자를 모두 포함하는지 검사
            if (!/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[~!@#$%^&*()_+`\-={}[\]:;"'<script>,.?\\/]).{8,16}$/.test(
                password)) {
                document.getElementsByName("userPw")[0].setCustomValidity(
                    "비밀번호는 8~16자리의 영문 대소문자, 숫자, 특수문자를 모두 포함해야 합니다.");
            } else {
                document.getElementsByName("userPw")[0].setCustomValidity("");
            }

            // 비밀번호와 확인 비밀번호가 일치하는지 검사
            if (password !== confirmPassword) {
                document.getElementsByName("pw_confirm")[0].setCustomValidity("비밀번호와 일치하지 않습니다.");
            } else {
                document.getElementsByName("pw_confirm")[0].setCustomValidity("");
            }
        }


        // ✅ 회원가입 할때 마지막으로 확인하는 유효성 검사
        function validateForm() {
            var isValid = true;

            isValid = checkIdForm() && isValid; // 아이디 중복 체크

            validatePasswordConfirmation(); // 비밀번호 확인

            var usernameInput = document.querySelector('.username_input');
            validateId(usernameInput); // 아이디 유효성 검사

            var genderSelected = document.getElementById('userGender').value;

            if (genderSelected === '') { // 성별이 선택되지 않았을 때
                alert('성별을 선택해주세요.'); // 경고 메시지 표시
                isValid = false; // 폼 제출 중단
            }

            if (document.getElementsByName("pw_confirm")[0].checkValidity() === false) {
                document.getElementsByName("pw_confirm")[0].reportValidity(); // 비밀번호 일치 여부 검사
                isValid = false;
            }

            return isValid;
        }

        // ✅ 휴대전화 유효성 검사
        function validatePhone(input) {
            var phone = input.value;
            // 휴대폰 번호가 11자리인지 확인
            if (phone.length !== 11 || !/^[0-9]+$/.test(phone)) {
                input.setCustomValidity("휴대전화번호 형식이 아닙니다.");
            } else {
                input.setCustomValidity("");
            }
            // 유효성 검사 메시지 표시
            input.reportValidity();
        }

        // ✅ 처음에 인증버튼 눌렀을때 하는 유효성 검사
        function checkId() {
            let userId = document.getElementById('userId').value
            let request = new XMLHttpRequest()

            request.open("GET", `/user/check/${userId}`, false) // 동기적 요청으로 변경
            request.setRequestHeader("Content-Type", "application/json")
            request.setRequestHeader("X-CSRF-TOKEN", csrfToken)
            request.send()

            if (request.status === 200) {
                if (request.responseText === 'true') {
                    alert('사용가능한 아이디입니다.')
                    return true; // 아이디 중복 없음
                } else {
                    alert('중복된 아이디입니다.')
                    return false; // 아이디 중복 발견
                }
            } else {
                alert('서버 오류.')
                return false; // 서버 오류
            }
        }

        // ✅ 중복을 검사 안하고 제출할때 하는 유효성 검사
        function checkIdForm() {
            let userId = document.getElementById('userId').value
            let request = new XMLHttpRequest()

            request.open("GET", `/user/check/${userId}`, false) // 동기적 요청으로 변경
            request.setRequestHeader("Content-Type", "application/json")
            request.setRequestHeader("X-CSRF-TOKEN", csrfToken)
            request.send()

            if (request.status === 200) {
                if (request.responseText === 'true') {

                    return true; // 아이디 중복 없음
                } else {
                    alert('중복된 아이디입니다.')
                    return false; // 아이디 중복 발견
                }
            } else {
                alert('이미 사용중인 아이디입니다.')
                return false; // 서버 오류
            }
        }

        window.onload = function () {
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('error') && urlParams.get('error') === 'emailExists') {
                alert('이미 가입한 이메일이 있습니다');
            }
        };
    </script>
</body>

</html>