.credit-body {
    box-shadow: -4px 8px 20px rgba(0, 0, 0, 0.1);
}


.credit-option-btn {
    font-size: var(--text-middle);
    height: 52px;
    text-decoration: none;
    padding-top: 4px;
    text-align: center;
    width: 90%;
    margin-bottom: 20px;
}

.com-credit-wrap {
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 1px 2px 2px 3px lightgrey;
}  
