/* success */
/* 아래 폼 양식 */
.payment-form-success {
  border: 1px solid lightgrey;
  border-radius: 10px;
  box-shadow: 1px 2px 2px 3px lightgrey;
  padding: 20px;
  position: relative;
  height: auto;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.payment-form-success .credit-form-btn-success {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.payment-form-success p {
  font-size: 20px;
}

.credit-form-btn-success a {
    text-decoration: none;
    text-align: center;
    padding-top: 4px;
}


.credit-list-info-success li {
    font-size: 20px ;
}

.credit-list-info-success {
  padding-left: 0 ;
  
}


.credit-list-info-success {
  list-style-type: disc;
}

.credit-body-success {
  row-gap: 20px;
  margin: 10px 10px;
  justify-content: center;
  align-items: center;
  height: 298px;
}

.credit-body-success  {
  font-size: 20px;
  text-align: left;
}

.credit-body-success h3 {
  font-size: 40px;
}

.credit-body-success h3 span {
  font-size: 20px;
}
